.loading {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: bold;
}

 button:hover,
 button:hover{
  background-color: #cccccc;
  color: #151515;
}

button:disabled{
  color: #999999;
  border: none;
  box-shadow: none !important;
}