.loading {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: bold;
}

 button:hover,
 button:hover{
  border: none;
  background-color: #cccccc;
  color: #666666;
  box-shadow: none !important;
}