.container {
  margin: 50px 0;
  width: 90%;
}

.card {
  margin: 1% !important;
  width: auto;
}

.total {
  width: 100%;
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.active{
  border-bottom: 10px solid rgb(0%,37.3%,22.7%);
}

.recovered {
  border-bottom: 10px solid rgba(136, 223, 162, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(224, 58, 58, 0.5);
}

.closed{
  border-bottom: 10px solid rgb(57.3%,0%,22.4%);
}