body {
  background-color: #ffffff;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.exclusiveContainer {
  width: 100%;
  margin: auto;
}