.newsContainer{
    margin: auto;
    padding: 5%;
    padding-bottom: 5%;
}
.newsHeader{
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    width: auto;
}
h1{
    font-family: 'Lora', serif;
    padding-bottom: 2%;
}
.newsList{
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0% 5%;
}
.newsArticleContainer{
  margin-top: 1px;
  border-radius:4px;
  width:auto;
  height:auto;
  box-shadow: 5px 5px 15px rgb(226,233,255,0.6), -5px -5px 15px  rgba(255,255,255, 0.5);
}
.PanelSummary{
    text-align: center;
    margin: 1.5% auto;
    letter-spacing: 1.5px;
}
.newsTitle{
    font-family: 'Lora', serif;
    color: #7aadff;
    font-size: 1.2em;
}
.expandedPanel{
    margin: 2% 5%;
}
.newsContent, .PanelSummary p{
    font-family: 'Quicksand', sans-serif;
    line-height: 1.8em;
}